@model IEnumerable<EcomApplication.Models.Mobiles>
@{
    ViewData["Title"] = "EachProductDetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3> Product Specification </h3>

<div ng-controller="MainCtrl">
    @foreach (var mobile in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @mobile.MobileName
            </div>
            <div class="panel-body">
                <div class="col-sm-3 col-md-6" style="color:blue">
                    <img src="~/Images/@mobile.PicURL" width="400" height="400" />
                </div>

                <div class="col-sm-9 col-md-6">
                    <h3> <span id="mobilename" style="color:black"> <b> MobileName: </b> </span></h3>
                    <h6> <span id="mobilename" style="color:black"> @mobile.MobileName </span> </h6>
                    <h3> <span id="mobilename" style="color:black"> <b> Features: </b></span> </h3>
                    <h6> <span id="mobilename" style="color:black"> @mobile.Features </span> </h6>
                    <h3> <span id="mobilename" style="color:black"> <b> Color: </b></span> </h3>
                    <h4> <span id="mobilename" style="color:black"> @mobile.Color </span></h4>
                    <h3> <span id="mobilename" style="color:black"> <b> Sim Type </b></span> </h3>
                    <h4> <span id="mobilename" style="color:black"> @mobile.SimType </span></h4>
                    <h3> <span id="mobilename" style="color:black"> <b> Model: </b></span> </h3>
                    <h6> <span id="mobilename" style="color:black"> @mobile.Model </span></h6>
                    <h3> <span id="mobilename" style="color:black"> <b> Price: </b></span> </h3>
                    <h6> <span id="mobilename" style="color:black"> @mobile.Price </span></h6>
                </div>
            </div>
            <div>

                <a id="btn_add" href="@Url.Action("Index", "Home")" class="btn btn-info btn-lg" style="margin-left:60px">
                    <span class="glyphicon glyphicon-eye-open"> </span> Continue shopping
                </a>
                <br />
            </div>
        </div>
    }
</div>

